<mat-grid-list cols="12" rowHeight="25px" gutterSize="10px">
  <mat-grid-tile [colspan]="12" [rowspan]="2">
    <h1>Reset Password</h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="2">
    <p>Please enter your email address to request a password reset.</p>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="3">
    <mat-form-field appearance="outline">
      <mat-label>Password Reset Email</mat-label>
      <input
        matInput
        [formControl]="passwordResetEmail"
        type="email"
        placeholder="Password Reset Email"
        required
      />
      <mat-error *ngIf="passwordResetEmail.invalid">
        {{ getErrorMessage() }}
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="2">
    <button
      mat-raised-button
      color="primary"
      (click)="authService.ForgotPassword(passwordResetEmail.value)"
    >
      Reset Password
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="2">
    <button mat-raised-button color="secondary" routerLink="/sign-in">
      Go Back to Login
    </button>
  </mat-grid-tile>
</mat-grid-list>
