<mat-grid-list cols="12" rowHeight="25px" gutterSize="10px">
  <mat-grid-tile [colspan]="12" [rowspan]="2">
    <h1>Login</h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="5">
    <form [formGroup]="signupForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" required />
        <mat-error *ngIf="signupForm.get('email').invalid">{{
          getErrorMessage('email')
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Password"
          required
        />
        <mat-error *ngIf="signupForm.get('password').invalid">{{
          getErrorMessage('password')
        }}</mat-error>
      </mat-form-field>
    </form>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="2">
    <button
      mat-raised-button
      color="primary"
      (click)="
        authService.SignUp(
          signupForm.get('email').value,
          signupForm.get('password').value
        )
      "
      [disabled]="!this.signupForm.valid"
    >
      Create Account
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="2">
    <!-- <mat-divider></mat-divider> -->
    <button
      mat-raised-button
      color="secondary"
      (click)="authService.GoogleAuth()"
    >
      Sign up With Google&#160;&#160;
      <img
        src="https://img.icons8.com/color/452/google-logo.png"
        width="30px"
        height="30px"
      />
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="1">
    Already have an account?&#160;&#160;
    <a routerLink="/sign-in">Sign in</a>
  </mat-grid-tile>
</mat-grid-list>
