<mat-grid-list cols="12" rowHeight="25px" gutterSize="10px">
  <mat-grid-tile [colspan]="12" [rowspan]="2">
    <h1>Login</h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="6">
    <form [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" required />
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
          You must enter a value
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
          Not a valid email
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Password"
          required
        />
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          You must enter a value
        </mat-error>
      </mat-form-field>
    </form>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="2">
    <button
      mat-raised-button
      color="primary"
      (click)="
        authService.SignIn(
          loginForm.controls['email'].value,
          loginForm.controls['password'].value
        )
      "
      [disabled]="!this.loginForm.valid"
    >
      Login
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="2">
    <button
      mat-raised-button
      color="secondary"
      (click)="authService.GoogleAuth()"
    >
      Login With Google&#160;&#160;
      <img
        src="https://img.icons8.com/color/452/google-logo.png"
        width="30px"
        height="30px"
      />
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="1">
    <a routerLink="/forgot-password">Forgot Password?</a>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="1">
    Don't have an account?&#160;&#160;
    <a routerLink="/register-user">Create Account</a>
  </mat-grid-tile>
</mat-grid-list>
