<union-starter-info-card title="splartness">
  <div>disclaimer of info about somthing</div>

  <!-- display name -->
  <union-starter-info-card-row [action]="action">
    <union-starter-info-card-row-title>
      Display Name
    </union-starter-info-card-row-title>
    <div>David baxter</div>
  </union-starter-info-card-row>

  <!-- email -->
  <union-starter-info-card-row [action]="action">
    <union-starter-info-card-row-title>
      Email
    </union-starter-info-card-row-title>
    <div>baxter30@gmail.com</div>
  </union-starter-info-card-row>

  <!-- phone -->
  <union-starter-info-card-row [action]="action">
    <union-starter-info-card-row-title>
      Phone
    </union-starter-info-card-row-title>
    <div>4802016965</div>
  </union-starter-info-card-row>
</union-starter-info-card>
