<mat-grid-list cols="12" rowHeight="70px" gutterSize="10px">
  <mat-grid-tile [colspan]="12" [rowspan]="1">
    <h1>Verification Sent</h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="1">
    <p>Check your email and follow the link.</p>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="1">
    <button
      mat-raised-button
      color="primary"
      (click)="authService.SendVerificationMail()"
    >
      Resend Verification Email
    </button>
    <button mat-raised-button color="secondary" routerLink="/sign-in">
      Go Back to Login
    </button>
  </mat-grid-tile>
</mat-grid-list>
